@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: arial, helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
body, html {
  position: relative;
  background-color: #007354;
}
header {
  background-color: #00000070;
  color: white;
  width: 100%;
  padding: 20px;
  display: flex;
}
#menuic {
  position: absolute;
  top: 3.5%;
  left: 85%;
  display: block;
  font-size: 45px;
}
#checklog {
  position: absolute;
  top: 35.7%;
  left: 10%;
  font-size: 50px;
  padding: 10px;
}
header button {
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 1px 5px 1px 5px;
  margin: 0 0 0 250px;
}
main {
  justify-content: justify;
  height: 590px;
  width: 85%;
  margin: 50px auto 50px auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #00000061;
  overflow: hidden;
}
#log-sucess h1 {
  font: normal bolder 1.8em arial, helvetica, sans-serif;
  margin: 0 20px 40px 0;
}
#log-sucess {
  height: 300px;
}
#sheetsimg {
  background: green url('../images/sheets.jpg') center center/cover no-repeat scroll;
  height: 100px;
  width: 100%;
}
.txt-inform {
  margin: 0 20px 0 20px;
}
h1 {
  padding: 40px 0 0 20px;
  font: normal bolder 2.5em arial, helvetica, sans-serif;
}
h2, p {
  margin: 20px 0 5px 20px;
  padding: 5px;
}
form input {
  margin: 30px 30px 0px 20px;
}
form {
  padding: 30px 20px 20px 20px;
}
.input-txt {
  font: normal normal 16px arial, helvetica, sans-serif;
  padding: 7px;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid gray;
  margin: 5px 0 20px 0;
}
.input-txt:focus-within {
  outline: none;
  border: 2px solid #007a64;
  transition-duration: .1s;
  border-radius: 5px;
  color: black;
}
#terms {
  color: gray;
  text-align: center;
  font: normal normal 12px arial, helvetica, sans-serif;
  margin: 0 20px 0 20px;
}
#terms a:hover {
  text-decoration: underline;
}
#misspass {
  text-decoration: underline;
  float: right;
}
.logbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type=submit] {
  border: 1px solid #3F5550;
  background-color: #3F5550;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  margin: 30px 10px 30px 10px;
  color: white;
}
input[type=submit]:hover {
  background-color: lightgray;
  border: 1px solid lightgray;
  color: black;
  transform: scale(0.90);
  transition-duration: .2s;
}
footer {
  font: normal normal 13px arial, helvetica, sans-serif;
  text-align: center;
  background-image: linear-gradient(to top, #004e39ff, transparent);
  padding: 20px;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
footer a:hover {
  font-weight: bold;
  transition-duration: .2s;
}